body{


    background-size: cover;
    position: center;
    margin: auto;
}
.navbar {
    overflow: auto;
    background-color: #333;
    z-index: 1;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */

}

.navbar a   {
     float: left;
     display: block;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
    font-family: Calibri;
 }
#INLOG{
    float: right;
}

.navbar a:hover {
    background: #ff0000;
    color: white;
}
.titel{
    display:block;
    background-color:white;
    background-position: center;
    opacity: 1.0;
    color: black;
    text-align: center;
    font-family:Calibri;
    padding:auto;
    overflow-scrolling: auto;
    margin-top: 45px;
    }
#Kopje{
    text-align: center;
    font-family: Calibri;
}
.main{
    padding: 1px 10px;
    background-color: white;
    background-position: center;
    margin: auto 300px 25px;
    opacity: 0.75;
    text-align: center;
    font-family: Calibri;
    position: center;

}
.title{
    padding: 1px 10px;
    background-color: white;
    background-position: center;
    margin: auto 300px 25px;
    opacity: 0.75;
    text-align: center;
    font-family: Calibri;

    position: center;}
.info{
    display: flow;
    background-color:white;
    text-align: center;
    margin: auto 300px 25px;
    opacity: 0.75;
    padding: 1px 10px;
    font-family: Calibri;
}
.tabel{
    background-color: white;
    opacity:0.75;
    margin: auto 300px 25px;
    text-align: center;
    background-position: center;
    font-family: Calibri;
}
.tabel td{
    padding: 10px 25px;
    }
.image{
    padding: 1px 10px;

    background-position: center;
    margin:auto 300px 25px;
    text-align: center;
    font-family: Calibri;
    position: center;
}

div.loginform
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
input {
    width: 100%;
}

.banner {
    width: 100%;
    display: inline;
}

.banner > .banner-image {
    width: 100%;
    display: inline;
}