body{


    background-size: cover;
    position: center;
    margin: auto;
}
.navbar {
    overflow: auto;
    background-color: #333;
    z-index: 1;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.navbar a   {
     float: left;
     display: block;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
    font-family: Calibri;
 }
#INLOG{
    float: right;
}

.navbar a:hover {
    background: #ff0000;
    color: white;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-family: Calibri;
}
.titel{
    display:block;
    background-color:white;
    background-position: center;
    opacity: 1.0;
    color: black;
    text-align: center;
    font-family:Calibri;
    padding:auto;
    overflow-scrolling: auto;
    margin-top: 45px;
    }
#Kopje{
    text-align: center;
    font-family: Calibri;
}
.main{
    padding: 1px 10px;
    background-color: white;
    background-position: center;
    margin: auto auto auto;
    opacity: 0.75;
    text-align: center;
    font-family: Calibri;
    position: center;

}
.title{
    padding: 1px 10px;
    background-color: white;
    background-position: center;
    margin: auto 300px 25px;
    opacity: 0.75;
    text-align: center;
    font-family: Calibri;

    position: center;}
.info{
    display: flow;
    background-color:white;
    text-align: center;
    margin: auto auto auto;
    opacity: 0.75;
    padding: 1px 10px;
    font-family: Calibri;
}
.tabel{
    background-color: white;
    opacity:0.75;
    margin: auto 300px 25px;
    text-align: center;
    background-position: center;
    font-family: Calibri;
}
.tabel td{
    padding: 10px 25px;
    }
.image{
    padding: 1px 10px;

    background-position: center;
    margin:auto 300px 25px;
    text-align: center;
    font-family: Calibri;
    position: center;
}

div.loginform
{
    display: block;
    font-family: Calibri;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-family: Calibri;
    text-align: left;
}

div.updateNAW
{
    display: block;
    font-family: calibri;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    font-family: Calibri;
    margin-right: auto;
    text-align: left;
}

div.sportTabel
{
    display: block;
    font-family: Calibri;
    text-align: right;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
input {
    width: 100%;
}
.sportschema {
    font-family:Calibri;
}
.sum {
    font-family:Calibri;
    text-align:center;
}

.form-style-6{
    font-family:Calibri;
    max-width: 135px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
                      }
.form-style-6 h1{
    background: #ff0000;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="password"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 10%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font-family:Calibri;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="naam"]:focus,
.form-style-6 input[type="password"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="adres"]:focus,
.form-style-6 input[type="woonplaats"]:focus,
.form-style-6 input[type="geslacht"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
    box-shadow: 0 0 5px #ff0000;
    padding: 3%;
    border: 1px solid #ff0000;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #ff0000;
    border-bottom: 2px solid #ff0000;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
    background: #ff0000;
}
.button {
    background-color: #ff0000; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-family:Calibri;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
}